<style>
	html,body {
		height: calc(100%);
		height: -o-calc(100%);
		height: -webkit-calc(100%);
		height: -moz-calc(100%);
		}
</style>
<div class="grid grid--center signin">
	<div class="grid-cell">
		<img class="logo" src="/images/tipsyology-logo-blk.png">

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>
			<p style="text-align:left;">To resend confirmation instructions, enter your email address and confirmation instructions will be sent to you.</p>
			<div class="field input-group">
				<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
				<%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => "Email" , value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      		</div>

			<div class="actions">
				<%= f.submit "Resend confirmation instructions", :class => 'btn btn-primary' %>
			</div>
		<% end %>
		<hr>
		<%= render "devise/shared/links" %>

	</div>
</div>