<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tipsyology</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/whhg-font/css/whhg.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='tipsy'>

<div class="wrapper">
  <%= render 'toolbar' %>
  <div id="main-cont" class="grid">
    <div class="content grid-cell">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>


      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          <%= link_to "Link #{provider.to_s.titleize} Account", user_omniauth_authorize_path(provider) unless current_user.identities.pluck(:provider).include?(provider.to_s) %><br />
        <% end -%>
      <% end -%>


      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <%= f.check_box :no_profanity %> 
          <%= f.label :no_profanity %> 
        </div>

        <div class="field">
          <%= f.check_box :no_alcohol %> 
          <%= f.label :no_alcohol %> 
        </div>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

      <div data-no-turbolink>
        <%= link_to "Home", '/' %>
      </div>
    </div>
</div>

</body>
</html>


