<style>
  html,body {
    height: calc(100%);
    height: -o-calc(100%);
    height: -webkit-calc(100%);
    height: -moz-calc(100%);
  }
</style>
<div class="grid grid--center signin">
  <div class="grid-cell">
    <img class="logo" src="/images/tipsyology-logo-wht.png">

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{provider.to_s.titleize}", user_omniauth_authorize_path( provider), :class => 'btn facebook' %>
      <% end -%>
    <% end -%>

    <img class="hr" src="/images/hr-or.png">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field input-group">
        <div class="input-group-addon"><i class="fa fa-user"></i></div>
        <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => "Email" %>
      </div>

      <div class="field input-group">
        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => "Password" %>
      </div>
        <em>(<%= @minimum_password_length %> characters minimum)</em>

      <div class="field input-group">
        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
        <%= f.password_field  :password, autocomplete: "off", :class => 'form-control', :placeholder => "Confirm Password" %>
      </div>

      <div class="field input-group">
        <div class="input-group-addon"><i class="fa fa-user"></i></div>
        <%= f.text_field  :nickname, autocomplete: "off", :class => 'form-control', :placeholder => "Nickname (Optional)" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", :class => 'btn btn-primary' %>
      </div>
    <% end %>

    <div class="disc">
      <p>By signing up, you agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
    </div>
    <%= render "devise/shared/links" %>

  </div>
  <footer class="grid-cell grid--center fixed">
    <div class="grid">
      <div class="grid-cell socials">
        <a href="" title="Tipsyology on Google+"><i class="fa fa-google-plus"></i></a>
        <a href="" title="Tipsyology on Facebook"><i class="fa fa-facebook"></i></a>
        <a href="" title="Tipsyology on Twitter"><i class="fa fa-twitter"></i></a>
        <a href="" title="Tipsyology on Linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="grid-cell copyright">
        © 2015 Tipsyology
      </div>
    </div>
  </footer>
</div>