<div class="row">
    <div class="col-lg-2"><a href="/admin/comments">Comments</a></div>    
    <div class="col-lg-2"><a href="/admin/photos">Photos</a></div>    
    <div class="col-lg-2"><a href="/admin/revisions">Revisions</a></div>    
    <div class="col-lg-2"><a href="/admin/ingredient_revisions">IngredientEdits</a></div>    
</div>

<h2><%= controller.action_name.humanize %></h2>

<div class="row">
    <div class="col-md-1" title="ID">ID</div>
    <div class="col-md-3" title="Created at"><i class="fa fa-calendar"></i></div>
    <div class="col-md-1" title="User (contributor) id"><i class="fa fa-user"></i></div>
    <div class="col-md-1" title="Status"><i class="fa fa-chart"></i></div>
</div>

<% @resources.each do |resource| %>
    <div class="row <%= resource.status != Flaggable::APPROVED ? 'admin-unpublished' : 'admin-published'  %>">
        <div class="col-md-1"><%= resource.id %></div>
        <div class="col-md-3"><%= resource.created_at %></div>
        <div class="col-md-1"><%= resource.user_id %></div>
        <div class="col-md-1"><%= resource.status %></div>
        <div class="col-md-1">
            <% case resource.status; when Flaggable::REJECTED %>
                <%= button_to publish_admin_path(resource, klass:resource.class.name, status:resource.status), title:'publish' do %>
                    <i class="fa fa-print"></i>
                <% end %>
            <% when Flaggable::NEEDS_REVIEW %>
                <%= button_to publish_admin_path(resource, klass:resource.class.name, status:resource.status), title:'publish' do %>
                    <i class="fa fa-print"></i>
                <% end %>
            <% when Flaggable::APPROVED %>
                <%= button_to publish_admin_path(resource, klass:resource.class.name, status:resource.status), title:'unpublish' do %>
                    <i class="fa fa-print"></i>
                <% end %>
            <% end %>
        </div>
        <div class="col-md-2" style="overflow:hidden; white-space:nowrap" title="<%= admin_resource_preview_text(resource) %>">
            <%= admin_resource_preview_text(resource) %>
        </div>
    </div>
<% end %>

<div><%= will_paginate @resources %></div>
