<div id="drink-page">
  <div class="grid row-one">
    <div class="grid-cell left"><a href="#"></a></div>
    <div class="grid-cell right">
      <div class="grid grid--center">
        <div class="grid-cell name">
          <h1><%= @drink.name %></h1>
          <div class="rating">
            <a href="#">Reviews (66)</a>
          </div>
        </div>
        <div class="grid-cell votes">
          <div class="votes-container"><div class="arrow up" role="button" aria-label="upvote" tabindex="0"><i class="fa fa-caret-up"></i></div><div class="score"><%= @drink.up_vote_ct %></div><div class="arrow down" role="button" aria-label="downvote" tabindex="0"><i class="fa fa-caret-down"></i></div></div>
        </div>
      </div>
      <div class="social-share-bar">Social share bar goes here</div>
      <div class="grid description">
        <div class="grid-cell prep-time">
          <h3>Description</h3>
          <p><%= @drink.description %> <a href="#">This drink has no description, submit yours and earn rep!</a></p>
        </div>
      </div>
      <div class="grid drink-info">
        <div class="grid-cell prep-time">
          <p>Prep time:<br><span>10 minutes</span></p>
        </div>
        <div class="grid-cell calorie-count">
          <p>Calories:<br><span>160</span>
        </div>
        <div class="grid-cell author">
          <p>Author:<br><a href="#">Sirtastic <span class="user-tips-count">(2344 tips)</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid row-two">
    <div class="grid-cell ingredients">
      <div class="grid grid--center">
        <div class="grid-cell"><h3>Ingredients</h3></div>
        <div class="grid-cell servings">
          <label for="servings">Servings: </label><input id="servings" type="number" value="1" min="1" max="30"/>
        </div>
      </div>
      <% @ingredients.each do |ingredient| %>
        <div class="grid grid--center ingredient">
          <div class="grid-cell actions">
            <a ng-click="addToCabinet(<%= drink_ingredient_json ingredient %>)" title="Add to My Cabinet">
              <i class="icon-fridge"><i class="fa fa-plus-circle red"></i></i>
            </a>
            <a ng-click="addToShoppingList(<%= drink_ingredient_json ingredient %>)" title="Add to Shopping List">
              <i class="fa fa-shopping-cart"><i class="fa fa-plus-circle red"></i></i>
            </a>
          </div>
          <div class="grid-cell name"><%= ingredient.name %></div>
          <div class="grid-cell amount"><%= ingredient.qty %></div>
        </div>
      <% end %>
    </div>
    <div class="grid-cell directions">
      <div class="grid grid--center">
        <div class="grid-cell">
          <h3>Recipe Directions</h3>
          <p><%= @drink.instructions %> <a href="#">This drink has no directions, submit yours and earn rep!</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid row-four similar-drinks">
    <div class="grid-cell">
      <h3>Drinks similar to a Screwdriver</h3>
    </div>
  </div>

</div>