<script>
  window.drink = <%= @drink.to_json.html_safe %>;
</script>
<div id="drink-page" ng-controller="DrinkCtrl">
  <div class="grid row-one">
    <div class="grid-cell left"><a href="#"></a></div>
    <div class="grid-cell right">
      <div class="grid grid--center">
        <div class="grid-cell name">
          <h1><%= @drink.name %></h1>
          <div class="rating">
            <a href="#">Comments (<%= @drink.comment_ct %>)</a>
          </div>
        </div>
        <div class="grid-cell votes">
          <div class="arrow up" role="button" aria-label="upvote" tabindex="0"><i class="fa fa-caret-up"></i></div>
          <div class="score"><%= @drink.vote_sum %></div>
          <div class="arrow down" role="button" aria-label="downvote" tabindex="0"><i class="fa fa-caret-down"></i></div>
        </div>
      </div>
      <div class="social-share-bar">Social share bar goes here</div>
      <div class="grid description">
        <div class="grid-cell prep-time">
          <h3>
            Description
            <a ng-click="loadEditView()" class="fa fa-pencil"></a>
            <a ng-click="flag()" class="fa fa-flag"></a>
          </h3>
          <div>
            <% if @drink.description.present? %>
              <noscript><%= @drink.description %></noscript>
              <script>Tipsy.writeMarkdown(window.drink.description)</script>
            <% else %>
              <p>
                <em>No description has been submitted for this drink yet.</em>
                <br>
                <a ng-click="loadEditView()">How would you describe this drink?</a>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="grid drink-info">
        <div class="grid-cell prep-time">
          <p>
            Prep time:
            <a ng-click="loadEditView()" class="fa fa-pencil"></a>
            <br>
            <span>
              <% if @drink.prep_time %>
                <%= @drink.prep_time %>
              <% else %>
                <em>unknown</em>
              <% end -%>
            </span>
          </p>
        </div>
        <div class="grid-cell calorie-count">
          <p>
            Calories:
            <a ng-click="loadEditView()" class="fa fa-pencil"></a>
            <br>
            <span>
              <% if @drink.calories %>
                <%= @drink.calories %>
              <% else %>
                <em>unknown</em>
              <% end -%>
            </span>
          </p>
        </div>
        <div class="grid-cell author">
          <% if @drink.author %>
            <p>
              Author:
              <br>
              <a href="#">
                <img>
                <%= @drink.author.name %>
                <span class="user-tips-count">(<%= @drink.author.points %> in tips)</span>
              </a>
            </p>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
  <div class="grid row-two">
    <div class="grid-cell ingredients">
      <div class="grid grid--center">
        <div class="grid-cell">
          <h3>
            Ingredients
            <a ng-click="loadEditView()" class="fa fa-pencil"></a>
          </h3>
        </div>
      </div>
      <% @ingredients.each do |ingredient| %>
        <div class="grid grid--center ingredient">
          <div class="grid-cell actions">
            <a ng-click="addToCabinet(<%= drink_ingredient_json ingredient %>)" title="Add to My Cabinet">
              <i class="sprite sprite-fridge"></i>
            </a>
            <a ng-click="addToShoppingList(<%= drink_ingredient_json ingredient %>)" title="Add to Shopping List">
              <i class="sprite sprite-shopping-cart"></i>
            </a>
          </div>
          <div class="grid-cell name"><%= ingredient.name %></div>
          <div class="grid-cell amount">
            <% if ingredient.optional %><em>(optional)</em><% end -%>
            <%= ingredient.qty %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="grid-cell directions">
      <div class="grid grid--center">
        <div class="grid-cell">
          <h3>
            Recipe Directions
            <a ng-click="loadEditView()" class="fa fa-pencil"></a>
            <a ng-click="flag()" class="fa fa-flag"></a>
          </h3>
          <% if @drink.instructions.present? %>
            <div>
              <noscript><%= @drink.instructions %></noscript>
              <script type="text/javascript">Tipsy.writeMarkdown(window.drink.instructions);</script>
            </div>
            <p>
              <em>Were these directions helpful?</em><br>
              <a ng-click="loadEditView()">Improve them!</a>
            </p>
          <% else %>
            <p>
              <em>No instructions have been written yet.</em>
              <br>
              <a ng-click="loadEditView()">How would you prepare this drink?</a>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- TIPS (COMMENTS) -->
  <div class="grid grid--center tips">
    <div class="grid-cell">              
      <h3><%= @drink.name %> tips? Comments? Join the discussion!</h3>
      <textarea ng-model="comment.text"></textarea>
      <a ng-click="createNote()">Save</a>
    </div>
  </div>
  <div class="grid row-four similar-drinks">
    <div class="grid-cell">
      <h3>Drinks similar to a <%= @drink.name %></h3>
    </div>
  </div>
</div>
