<div id="drink-page">
  <div class="grid row-one">
    <div class="grid-cell left"><a href="#"></a></div>
    <div class="grid-cell right">
      <div class="grid grid--center">
        <div class="grid-cell name">
          <h1><%= @drink.name %></h1>
          <div class="rating">
            <a href="#">Reviews (66)</a>
          </div>
        </div>
        <div class="grid-cell votes">
          <div class="votes-container"><div class="arrow up" role="button" aria-label="upvote" tabindex="0"><i class="fa fa-caret-up"></i></div><div class="score"><%= @drink.score %></div><div class="arrow down" role="button" aria-label="downvote" tabindex="0"><i class="fa fa-caret-down"></i></div></div>
        </div>
      </div>
      <div class="social-share-bar">Social share bar goes here</div>
      <div class="grid description">
        <div class="grid-cell prep-time">
          <h3>Description</h3>
          <p><%= @drink.description %> <a href="#">How would you describe this drink?</a></p>
        </div>
      </div>
      <div class="grid drink-info">
        <div class="grid-cell prep-time">
          <p>Prep time:<br><span>10 minutes</span></p>
        </div>
        <div class="grid-cell calorie-count">
          <p>Calories:<br><span>160</span>
        </div>
        <div class="grid-cell author">
          <p>Author:<br><a href="#">Sirtastic <span class="user-tips-count">(2344 tips)</span></a>
        </div>
      </div>
      <div class="grid tags">
        <div class="grid-cell">
          <p>Tags: <br><a href="#">Healthy</a>, <a href="#">Simple</a>, <a href="#">Inexpensive</a>, <a href="#">Remixable</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid row-two">
    <div class="grid-cell ingredients">
      <div class="grid grid--center">
        <div class="grid-cell"><h3>Ingredients</h3></div>
        <div class="grid-cell servings">
          <label for="servings">Servings: </label><input id="servings" type="number" value="1" min="1" max="30"/>
        </div>
      </div>
      <% @ingredients.each do |ingredient| %>
        <div class="grid grid--center ingredient">
          <div class="grid-cell actions"><i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
          <div class="grid-cell name"><%= ingredient.name %></div>
          <div class="grid-cell amount"><%= ingredient.qty %></div>
        </div>
      <% end %>
    </div>
    <div class="grid-cell directions">
      <div class="grid grid--center">
        <div class="grid-cell">
          <h3>Recipe Directions</h3>
          <p><%= @drink.text %> <br><br><a href="#">Were these directions helpful?</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid row-three">
    <div class="grid-cell">
      <h3>Tips for mixing a Screwdriver</h3>
      <p>With a drink this simple, quality of ingredients is everything. There’s no magic shortcut. The smoother your vodka, the easier a Screwdriver will go down. Avoid pulpy orange juice, and go with either a premium brand of orange juice or fresh squeezed.</p>

      <p>A Screwdriver goes with any food orange juice goes with. The first meal that comes to mind is, of course, breakfast. But you don’t have to start drinking at 6 am to enjoy a screwdriver with breakfast: just have breakfast foods for dinner or lunch! Omelet, bacon, sausage, ham, pancakes, French toast – good, heavy, stick-to-your-ribs food.</p>

      <p>Ever versatile Screwdrivers are also tasty with smoky foods, like a pulled pork sandwich or steaks from the smoker. Smoked almonds and cheeses make a nice munchie to snack along on with a screwdriver. Salty snacks work well, too, especially if they have a strong flavor. Try pretzels or flavorful crackers. <br><br><a href="#">Have a few tips of your own?</a></p>
    </div>
  </div>
  <div class="grid row-four similar-drinks">
    <div class="grid-cell">
      <h3>Drinks similar to a Screwdriver</h3>
    </div>
  </div>

  <h1><%= @drink.name %></h1>
  <div><%= @drink.text %></div>
  <div><%= @drink.abv %>%</div>
  <div><%= @drink.score %></div>
  <div><%= @drink.vote_ct %></div>
  <div><%= glass_image_tag @drink.glass_id, @drink.color %></div>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li>
        <%= ingredient.name %>
        <%= ingredient.qty %>
      </li>
    <% end %>
  </ul>
</div>