<style>
	html,body {
		height: calc(100%);
		height: -o-calc(100%);
		height: -webkit-calc(100%);
		height: -moz-calc(100%);
		}
</style>
<div class="grid grid--center signin">
	<div class="grid-cell">
		<img class="logo" src="/images/tipsyology-logo-blk.png">

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>
			<p style="text-align:left;">To reset your password, enter the email address used to sign up with Tipsyology and reset instructions will be sent to you.</p>
			<div class="field input-group">
				<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
				<%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => "Email" %>
			</div>

			<div class="actions">
				<%= f.submit "Send reset password instructions", :class => 'btn btn-primary' %>
			</div>
		<% end %>
		<hr>
		<%= render "devise/shared/links" %>

	</div>
	<footer class="grid-cell grid--center fixed">
		<div class="grid">
			<div class="grid-cell socials">
				<a href="https://www.facebook.com/tipsyology" title="Tipsyology on Facebook"><i class="fa fa-facebook"></i></a>
				<a href="" title="Tipsyology on Google+"><i class="fa fa-google-plus"></i></a>
				<a href="" title="Tipsyology on Twitter"><i class="fa fa-twitter"></i></a>
				<a href="" title="Tipsyology on Linkedin"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="grid-cell copyright">
				© 2015 Tipsyology
			</div>
		</div>
	</footer>
</div>