<script type="text/javascript">
  window.ingredient = <%= @ingredient.to_json.html_safe %>;
</script>
<div id="ingredient-page" ng-controller="IngredientCtrl">
  <div class="grid row center">
    <div class="grid-cell"><h1><%= @ingredient.name %></h1></div>
  	</div>
  <% if @ingredient.canonical %>
    <div class="grid row center">
      <div class="grid-cell">
        <em>Canonical form</em> &nbsp;
        <%= link_to @ingredient.canonical.name, @ingredient.canonical %>
      </div>
    </div>
  <% end %>
  <div class="grid row center">
    <div class="grid-cell">
      <h3>
        Description
        <a ng-click="loadEditView()" class="fa fa-pencil"></a>
        <a ng-click="flag()" class="fa fa-flag"></a>
      </h3>
      <div>
        <% if @ingredient.description.present? %>
          <noscript><%= @ingredient.description %></noscript>
          <script>Tipsy.writeMarkdown(window.ingredient.description)</script>
        <% else %>
          <p>
            <em>No description has been submitted for this ingredient yet.</em>
            <br>
            <a ng-click="loadEditView()">How would you describe this ingredient?</a>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="grid results-list row center">
    <div class="grid-cell">
      <h3>Here are a few drinks made with this ingredient:<br><small>Refresh to see a different list.</small></h3>
      <% @drinks.each do |drink| %>
      <div class="grid grid--center item">
        <div class="grid-cell name"><a ng-href="{{drink.getUrl()}}"><%= link_to drink.name, url_for(drink) %></a></div>
        <div class="grid-cell"><i class="fa fa-clock-o"></i> <small>...</small></div>
        <div class="grid-cell"><i class="fa fa-flask"></i> <small>...</small></div>
        <div class="grid-cell"><i class="fa fa-thumbs-up"></i> <small>...</small></div>
        <div class="grid-cell"><i class="fa fa-heart"></i></div>
      </div>
      <% end %>
    </div>
  </div>
</div>