<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tipsyology</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='tipsy'>

<div class="wrapper">
  <%= render 'toolbar' %>
  <div id="main-cont" class="grid">
    <div class="content grid-cell">
      <%= yield %>
    </div>
    <aside class="fancy-sidebar grid-cell">
      <div class="sidebar-controls"></div>
      <div class="ingredients-list">
        <ul>
          <li class="sidebar-list-first">My Ingredients <i class="fa fa-flask"></i></li>
          <li>Food item</li>
          <li>Food item</li>
        </ul>
      </div>
      <div class="shopping-list">
        <ul>
          <li class="sidebar-list-first">Shopping List <i class="fa fa-shopping-cart"></i></li>
          <li>Food item</li>
          <li>Food item</li>
        </ul>
      </div>
    </aside>
</div>

</body>
</html>
